<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Page Title</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
    <script src='main.js'></script>
</head>
<body>
    <form method="post">
        {% csrf_token %}
        
        <h1 style="color: red;">
            Do you want to Remove {{i.songname}} from the liked songs?
            <input type="submit">
        </h1>
       
       
    </form>
    {% if msg %}
    <h2 style="color: red;">{{msg}}</h2>
    {% endif %}
</body>
</html>