<!DOCTYPE html>
{% load static %}
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Phonk Songs</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='{% static "styles/trending.css" %}'>
    <script src='main.js'></script>
</head>
<body class="body">
   <div class="sidediv">
        <a href="{% url 'select' %}"><h1>Home</h1></a>
        <a href="{% url 'trending' %}"><h1>Trending Songs</h1></a>
        <a href="{% url 'likepage' %}"><h1>Liked Songs</h1></a>

    </div>
    <div class="maindiv">
    <div class="headdiv">
        <h2>Play List</h2>
        <h1>Phonk Songs</h1>
    </div>
    
    <div class="trendingdiv">
        {% if obj %}
        {% for i in obj %}
        <div class="songsdiv">
            <table>
                
                <tr>
                    <td><a href="{% url 'detail' i.songid i.genre %}"><img src="{{i.image.url}}"></a>
                    
                    <td><p><a href="{% url 'detail' i.songid i.genre %}">{{i.songname}}</a></p></td>
                    <td><p><a href="{% url 'detail' i.songid i.genre %}">{{i.moviename}}</a></p></td>
                    <td><p><a href="{% url 'detail' i.songid i.genre %}">{{i.singername}}</a></p></td>
                </tr>
            </table>
        
        </div>
        {% endfor %}
        {% endif %}

    </div>
    </div>




</body>
</html>