.body{
    background-color: antiquewhite;
}

@keyframes gradientShift{
    0%{
        background-position: 0% 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0% 50%;
    }
}

.imgdiv{
    background-color:rgb(79, 199, 195);
    width: 98vw;
    height: 30vh;
    box-shadow: 4px 4px 10px 0px rgba(0, 0, 0, 0.65) ;
    text-align: center;
    background: linear-gradient(45deg,#ee7752,#23a6d5,#e73c7e,#23d5ab);
    background-size: 400% 400%;
    animation: gradientShift 8s ease infinite;
    transform-style: preserve-3d;
    
}


.imgdiv img{
    width: 30vw;
    height: 20vh;
    border-radius: 30vw;
    box-shadow: 10px 10px 10px 0px rgb(230, 125, 213);
}



.reldiv{
    margin-top: 5vh;
    width: 70vw;
    height: 53vh;
    margin-left: 13vw;
    overflow-y: auto;
    position: relative;
    background-color: white;
    
    box-shadow: 4px 4px 10px 0px rgba(0, 0, 0, 0.65) ;
}
.reldiv::-webkit-scrollbar{
    display: none;
}
.reldiv:hover{
    box-shadow: 10px 10px 10px 0px rgba(182, 5, 5, 0.65) ;
}

.reldiv .songsdiv{
    width: 70vw;
    height: 10vh;
    background-color: white;
   
    margin-top:2vh;
    display: flex;
    
}
.reldiv .songsdiv:hover{
    background-color: aliceblue;
    box-shadow: 6px 6px 10px 0px rgba(29, 229, 226, 0.25);
}
.reldiv .songsdiv img{
    width: 8vw;
    height: 8vh;
}
.reldiv .songsdiv h2{
    margin-left: 8vw;
    font-size: 1vw;
    
    
}
.reldiv .songsdiv a {
    text-decoration: none;
    color: black;
    
}
.reldiv .songsdiv .l{
    margin-left: 2vw;
    font-size: 1.8vw;
    text-decoration: none;
}
.reldiv .songsdiv .d{
    margin-left: 2vw;
    font-size: 1.8vw;
    text-decoration: none;
}